@font-face
{
	font-family:Roboto Light;
	src: url(Roboto-Light.ttf);
}

@font-face
{
	font-family:Roboto Medium;
	src: url(Roboto-Medium.ttf);
}

@font-face
{
	font-family:Roboto Regular;
	src: url(Roboto-Regular.ttf);
}

.campus {
	font-family:Roboto Light;
	font-size:30px;
	color: #E1A449;
}

.maps {
	font-family:Roboto Medium;
	font-size:30px;	
	color: #E1A449;
}

.demo {
	font-family:Roboto Regular;
	font-size:20px;	
	color: #E1A449;
}

.formtext {
	font-family:Roboto Regular;
	font-size:16px;	
	color: #E1A449;
}

p {
	display: inline;
}

#content{
	height:100%;
	width:100%;
}

#topbar {
    margin: 5px;
    height:4%;
}

#bodybar {
    margin: 5px;
    height:85%;
}

#topbodydemo {
	height:8%;
	width:100%;
}

#botbodydemo {
	background: rgba(203, 224, 165, 0.9);
	height:75%;
	margin-bottom: 5px;
	overflow: auto;
	white-space: nowrap;
}

#introspacer {
    margin: 5px;
    height:15%
}

#introbody {
    margin: 5px;
    height:43%;
    font-family:Roboto Regular;
	font-size:16px;	
	color: #E1A449;
}

#topcontact {
	height:15%;
	width:100%;
}

#contactform {
	background: rgba(203, 224, 165, 0.9);
	width:30%;
	text-align:left;
	padding:2%;
	font-family:Roboto Regular;
	font-size:16px;	
	color: #E1A449;
}

#topconfirm {
	height:15%;
	width:100%;
}

#confirm {
	background: rgba(203, 224, 165, 0.9);
	width:30%;
	padding:2%;
	font-family:Roboto Regular;
	font-size:16px;	
	color: #E1A449;
}

#toptech {
	height:15%;
	width:100%;
}

#tech {
	height:65%;
	background: rgba(203, 224, 165, 0.9);
	padding:2%;
	font-family:Roboto Regular;
	font-size:16px;	
	color: #E1A449;

}

#xmldiv {
	background-color: #E1A449;
	width:50%;
	height:73%;
	margin-left:45%;
	color:white;
	overflow-y: scroll;
	font-size:12px;
}

#techtext {
	width:40%;
	height:73%;
	float:left;
}

textarea {
	height:auto;
	width:96%;
}

#textinput {
	width:96%;
}

html, body {
	height:100%;
	background-image: url("map_bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	overflow:hidden;
	font-family: Roboto Regular;
}

.well{
    background: rgba(203, 224, 165, 0.9);
}