<!DOCTYPE html>
<html lang="en">
<head>
	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link type="text/css" rel="stylesheet" href="/static/theme.css" />
      <script>
  $(function() {
    $( "input[type=submit], a, button" )
      .button()
      .click(function( event ) {
        event.preventDefault();
      });
  });
  </script>
    <title>Campus Maps</title>
</head>

<body>
  <div id="content">
	  <div id="topbar" class="well well-large">
		  &nbsp<p class="campus">Campus</p><p class="maps">maps</p>
	  </div>
    <div id="bodybar">
    {% block content %}{% endblock %}
    </div>
  </div>
</body>
</html>