{% extends "base.html" %}

{% block content %}
	<div id="topcontact">
	</div>
	<center>
	<div id="contactform" class="well well-large">
		For more information about bringing <p style="font-family:Roboto Light">Campus</p><b>maps</b> to your campus, please enter your email address and inquiry below:
		<br>
		<br>
		<form action="/confirm" method="post">
			<p class="formtext">Email address:</p>
			<br>
			<input type="text" class="form-control" id="textinput" name="email">
			<br>
			<p class="formtext">Message:</p>
			<textarea name="message" class="form-control" rows="3"></textarea>
			<br>
			<input type="submit" value="Submit" class="btn btn-warning">
    	</form>
	</div>
	</center>
{% endblock %}