{% extends "base.html" %}

{% block content %}
    <div id="topbodydemo">
    	&nbsp
		<br>
		&nbsp
		<br>
		&nbsp
		<br>
		&nbsp
		<br>
		&nbsp
		<br>
		&nbsp
		<br>
		&nbsp
    </div>
    <div id="botbodydemo" class="well well-large">
		<img src="/static/home.jpg" alt="" style="height:100%">
		&nbsp
		&nbsp
		&nbsp
		&nbsp
		<img src="/static/menu.jpg" alt="" style="height:100%">
		&nbsp
		&nbsp
		&nbsp
		&nbsp
		<img src="/static/atm_map.jpg" alt="" style="height:100%">
		&nbsp
		&nbsp
		&nbsp
		&nbsp
		<img src="/static/computerlab_popup.jpg" alt="" style="height:100%">
		&nbsp
		&nbsp
		&nbsp
		&nbsp
		<img src="/static/call_link.jpg" alt="" style="height:100%">
		&nbsp
		&nbsp
		&nbsp
		&nbsp
		<img src="/static/computerlabs.jpg" alt="" style="height:100%">
		&nbsp
		&nbsp
		&nbsp
		&nbsp
		<img src="/static/fitnesscenter_popup.jpg" alt="" style="height:100%">
	</div>
{% endblock %}