{% extends "base.html" %}

{% block content %}
	<div id="introspacer">

 	</div>
	<div id="introbody" class="well well-large">
		<b>Looking for something on campus? Campusmaps could help.</b>
		<br>
		<br>
		<b>Summary of functionality</b>
		<br>
		Open up the homescreen to find buttons corresponding to categories of points of interest. Clicking on one of these buttons will take you to a Google map with locations for the chosen item relative to your location on campus. Click on a marker to view details in a pop-up containing text and buttons. Functional buttons within pop-up can open a hyperlink of interest or dial calls to relevant phone numbers.
		<br>
		<br>
		<b>What is the target audience?</b>
		<br>
		College students!
		<br>
		<br>
		<form action="/demo" method="get">
			<input type="submit" value="Demo" class="btn btn-warning">
 		</form>
 	</div>
 	<div id="introspacer">

 	</div>
 	<div id="introfooter" class="well well-large">
 		test
 	</div>
{% endblock %}