{% extends "base.html" %}

{% block content %}
    <div id="topbody">
    	top half
    	&nbsp
		<br>
		&nbsp
		<br>
		&nbsp
		<br>
		&nbsp
		<br>
		&nbsp
		<br>
		&nbsp
		<br>
		&nbsp
		<br>
    </div>
    <div id="botbody" class="well well-large">
		<img src="/static/home.jpg" alt="" style="height:15%;width:15%">
		&nbsp
		&nbsp
		<img src="/static/menu.jpg" alt="" style="height:15%;width:15%">
		&nbsp
		&nbsp
		<img src="/static/atm_map.jpg" alt="" style="height:15%;width:15%">
		&nbsp
		&nbsp
		<img src="/static/computerlab_popup.jpg" alt="" style="height:15%;width:15%">
		&nbsp
		&nbsp
		<img src="/static/call_link.jpg" alt="" style="height:15%;width:15%">
		&nbsp
		&nbsp
		<img src="/static/computerlabs.jpg" alt="" style="height:15%;width:15%">
		&nbsp
		&nbsp
		<img src="/static/fitnesscenter_popup.jpg" alt="" style="height:15%;width:15%">
	</div>
{% endblock %}